body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  padding-top: 24px;
  margin-right: 76px;
  padding-bottom: 24px;
}

.nav-title {
  font-weight: 500;
  display: inline-flex;
  gap: 40px;
  position: relative;
  /* color: #404bbf; */
}

.nav-title a:hover,
.nav-title a:active,
.nav-title a:focus {
  color: #404bbf;
}

.nav-list-el.current {
  position: relative;
  color: #404bbf;
}
.nav-list-el.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

.nav-list-el {
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-style: normal;
}

.contacts {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
}

.address-list-el {
  letter-spacing: 0.02em;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.webstudio {
  color: #2e2f42;
}

.contacts li a {
  color: #434455;
}

.contacts li a:hover {
  color: #404bbf;
}

.contacts li a:focus {
  color: #404bbf;
}

/* section first */

.section-first {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  margin: 0 auto;
  padding: 188px 0;
  max-width: 1440px;
}

.section-first-headder {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.button-order {
  background-color: #4d5ae5;
  color: #ffffff;
  border-style: none;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover {
  background-color: #404bbf;
}

.button-order:focus {
  background-color: #404bbf;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2e2f4266;
  z-index: 1050;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-open {
  opacity: 1;
}

.modal-content {
  position: relative;
  width: 408px;
  height: 584px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f,
    0px 2px 1px 0px #00000033;
  border-radius: 4px;
  padding: 24px;
}

.icon-cross-box {
  height: 24px;
  width: 24px;
  background: linear-gradient(0deg, #e7e9fc, #e7e9fc),
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 50%;
  border: 1px solid #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cross-box:active,
.icon-cross-box:focus {
  background: #404bbf;
  border: none;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cross-box:active .modal-close-icon {
  fill: #ffffff;
}
.icon-cross-box:focus .modal-close-icon {
  fill: #ffffff;
}

.form-callback {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.form-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 72px;
  margin-bottom: 16px;
}

.label-form {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8e8f99;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-form {
  height: 40px;
  border-radius: 4px;
  width: 100%;
  padding-left: 38px;
  border: 1px solid #2e2f4266;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 11px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus,
.input-form:active {
  outline: none;
  border: 1px solid #4d5ae5;
}

.input-form:active + .input-icon {
  fill: #4d5ae5;
}

.input-form:focus + .input-icon {
  fill: #4d5ae5;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:active,
.textarea-comment:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

.checkbox-form {
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid #2e2f4266;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-box {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.checkbox-icon {
  fill: none;
}

.checkbox-form:active,
.checkbox-from:focus {
  background-color: #404bbf;
}

.checkbox-form:active .checkbox-icon {
  fill: #f4f4fd;
}

.checkbox-form:focus .checkbox-icon {
  fill: #f4f4fd;
}

.checkbox-descr {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8e8f99;
}

.privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}

.form-button {
  background-color: #4d5ae5;
  color: #ffffff;
  border-style: none;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
  background-color: #404bbf;
}

.form-button:focus {
  background-color: #404bbf;
}

/* section second */

/* !!!!!!!! */
.section-info-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* !!!!!!!! */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-headder {
  color: #2e2f42;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list .advan-item {
  flex-basis: calc((100% - 72px) / 4);
}

.icon-advan-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: solid 1px #8e8f99;
}

.section-title-p {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-descr {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

/* section third */

.section-team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.section-team-headder {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-team-list-el {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-box {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.icon-box {
  height: 40px;
  width: 40px;
}

.social-icon-href {
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-href:hover {
  background-color: #404bbf;
}
.social-icon-href:focus {
  background-color: #404bbf;
}
.social-icon-href:active {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

.team-descr {
  padding: 32px 0px;
  text-align: center;
}

/* section forth */

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-list-el {
  flex-basis: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-el:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  cursor: pointer;
}

.portf-img-box {
  position: relative;
  overflow: hidden;
}

.portf-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition-property: transform;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  padding: 40px 32px;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

.portfolio-list-el:hover .portf-img-overlay {
  transform: translateY(0);
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}

/* footer */

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-descr {
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 264px;
}

.webstudio-footer {
  color: #f4f4fd;
}

.webstudio-footer-descr {
  margin-right: 120px;
}

.footer-social {
  margin-right: 80px;
}

.footer-social-header {
  letter-spacing: 0.02em;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 8px;
}

.footer-icon-box {
  height: 40px;
  width: 40px;
}

.footer-social-href {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-href:hover {
  background-color: #31d0aa;
}

.footer-social-href:focus {
  background-color: #31d0aa;
}

.footer-social-href:active {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.subscribe-container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.input-email-footer {
  height: 40px;
  min-width: 264px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-size: 12px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
  color: #ffffff;
}

.input-email-footer::placeholder {
  color: #ffffff;
}

.input-email-footer:active,
.input-email-footer:focus {
  outline: none;
}

.subscribe-submit-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  border-style: none;
  padding: 8px 24px;
  border-radius: 4px;
  display: inline-block;
  min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon-footer {
  fill: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
}

.subscribe-submit-btn:hover {
  background-color: #404bbf;
}

.subscribe-submit-btn:focus {
  background-color: #404bbf;
}
